<tr class= "<%= task.is_late? %>">
	<td class="text-center">
		<span class= "glyphicon glyphicon-th-list"></span>
	</td>
	<td class="col-md-8", id= "task_row_<%= task.id.to_s %>">
		<%= best_in_place task, :description, as: :textarea %>
	</td>
	<td class="text-center">
		<%= link_to '',comment_by_task_path(:comment => { :task_id => task.id} ), class: "glyphicon glyphicon-comment" ,:remote => true, :method=> "post"%>
	</td>
	<td class="text-center">
		<%= link_to '', edit_task_path(task), class: "glyphicon glyphicon-pencil" %>
	</td>
	<td class="text-center">
		<%= link_to '', task_path(task),method: :delete, id: "delete_task_#{task.id}_from_index", data: { confirm:"Are you sure ?" } , class: "glyphicon glyphicon-trash" %>
	</td>					
</tr>